*{
    box-sizing: border-box;
    margin: 50px;
}
header {
    padding-top: 5px;
    padding-bottom: 30px;
    border-bottom: 5px double black;
  }
header img {
    float: left;
  }
  
  header h1 {
    float: left;
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    font-style:bold;
    padding-bottom: 5px;
    
  }
 
  header h2{
      padding-top: 30px;
     font-size: 13px;
     color: gray;
  }
header div {
    padding-bottom: 10px;
}
  header div img {
    float: right;
    margin-top: 10px;
    padding-right: 2px;
   
  }
  
  header div img:nth-child(2) {
    padding-left: 10px;
  }
  main article h1 {
      font-size: 30px;
      font-style: bold;
      margin-top: 30px;
  }
  main article h2{
      color: gray;
      font-size: 13px;
      
  }
  main article img{
      width: 100%;
      margin: 10px;
  }
  main article p{
      color:burlywood;
      text-align: center;
      font-size: 20px;
      margin: 20px; 
  }
  
  main div img{
     float: right;
     width: 100%;
 }
  main div #list1{
      position: absolute;
     padding: 10px;
     margin: 60px;
  }
 
 section img{
     float: left;
 }
 
  section button{
    float: right;
    margin-top: -10px;
    padding: 10px 20px 10px 20px;
    font-size: large;
    color: white;
    background-color: #a06450;
  }
section{
    padding-bottom: 70px;
    border-bottom: 2px solid rgb(197, 189, 189);
}
footer{
    clear: both;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: grey;
}
footer img {
    padding-bottom: 50px;
   
    

}